input[type=submit] {
    width: 120px;
}


@media only screen and (max-width: 800px) {

    th:nth-child(n+4):nth-last-child(n+2) {
        display: none;
    }

    td:nth-child(n+4):nth-last-child(n+2) {
        display: none;
    }

    input[type=submit] {
        width: 70px;
    }
    
    #submit_transaction_loan_penalty_add[type=submit], #submit_transaction_loan_settle[type=submit] {
        width: 100px;
    }
    
}