<div class="content mt-3">
    <div class="card">
        <div class="card-header">
            <strong>Maintain Sequence</strong>
        </div>
        <div class="card-body card-block">
            <form id="setup-sequence-update-form" method="post" novalidate action="">

                {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="animated fadeIn">
                                <div id="flash-messages" class="sufee-alert alert with-close alert-{{ category }} alert-dismissible fade show">
                                    <i class="fa {{ 'fa-check-circle' if category == 'success' else 'fa-exclamation-circle' }} fa-lg"></i>
                                    {{ message | safe }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" disabled="disabled" />
                
                {{ form.uuid }}

                <div class="form-group">
                    {{ form.name.label }}
                    {% if form.name.errors %}
                        <span id="name_error" class="text text-danger animated fadeIn">
                                {{ ','.join(form.name.errors) }}
                                <script>$( "#{{ form.name.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                        </span>
                    {% endif %}  
                    {{ form.name(class_="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.prefix.label }}
                    {% if form.prefix.errors %}
                        <span id="prefix_error" class="text text-danger animated fadeIn">
                                {{ ','.join(form.prefix.errors) }}
                                <script>$( "#{{ form.prefix.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                        </span>
                    {% endif %}  
                    {{ form.prefix(class_="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.increment.label }}
                    {% if form.increment.errors %}
                        <span id="increment_error" class="text text-danger animated fadeIn">
                                {{ ','.join(form.increment.errors) }}
                                <script>$( "#{{ form.increment.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                        </span>
                    {% endif %}  
                    {{ form.increment(class_="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.current.label }}
                    {% if form.current.errors %}
                        <span id="current_error" class="text text-danger animated fadeIn">
                                {{ ','.join(form.current.errors) }}
                                <script>$( "#{{ form.current.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                        </span>
                    {% endif %}  
                    {{ form.current(class_="form-control") }}
                </div>

                {{ form.submit_setup_sequence_delete(class_="btn btn-danger") }}
                {{ form.submit_setup_sequence_update(class_="btn btn-primary float-right") }}

            </form>
        </div>
    </div>
</div>