<div class="animated fadeIn">
    <div class="content mt-3">
        
        <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" disabled="disabled"/>
        
        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <i class="fa fa-cogs bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                        <div class="h5 text-secondary mb-0 mt-1">P4.999,50</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs small">Total Fund</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <i class="fa fa-laptop bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                        <div class="h5 text-secondary mb-0 mt-1">P4.999,50</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs small">Available Fund</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <i class="fa fa-moon-o bg-warning p-3 font-2xl mr-3 float-left text-light"></i>
                        <div class="h5 text-secondary mb-0 mt-1">P4.999,50</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs small">Lended Fund</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left text-light"></i>
                        <div class="h5 text-secondary mb-0 mt-1">P4.999,50</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs small">Total Profit</div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- .content -->
</div>