<div class="content mt-3">
    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" disabled="disabled" />
    
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Contribution List</strong>
                    <button id="transaction-contribution-call-create" type="button" class="btn btn-secondary btn-sm float-right">Create New</button>
                </div>
                
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories=true)%}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="animated fadeIn">
                                    <div id="flash-messages" class="sufee-alert alert with-close alert-{{ category }} alert-dismissible fade show">
                                        <i class="fa {{ 'fa-check-circle' if category == 'success' else 'fa-exclamation-circle' }} fa-lg"></i>
                                        {{ message | safe }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <table id="bootstrap-data-table-export" class="table table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Member Code</th>
                                <th>Period</th>
                                <th>Amount</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                                <tr>
                                    <td>
                                        &nbsp;
                                        <a href="javascript:;" onclick="javascript:UpdateTransactionContribution('{{ item.uuid }}');"><i class="fa fa-pencil-square "></i>
                                        </a>
                                        &nbsp;
                                    </td>
                                    <td>{{ item.member_code }}</td>
                                    <td>{{ item.period }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.remarks }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- .content -->


<script src="{{ url_for('static', filename='assets/js/init-scripts/data-table/datatables-init.js') }}"></script>
