<div class="content mt-3">
    <div class="card">
        <div class="card-header">
            
            <div class="row">   
                <div class="col-6">
                    <strong>Loan Number: {{ form.code.data }}</strong>
                </div>
                <div class="col-6">
                    <strong class="float-right">{{ 'Approved' if form.is_approved.data else 'Not Approved' }} | P{{ form.amount_gross.data }}</strong>
                </div>
            </div>
        </div>
        <div class="card-body card-block">
            <form id="transaction-loan-update-form" method="post" novalidate action="/maintenance/company">

                {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="animated fadeIn">
                                <div id="flash-messages" class="sufee-alert alert with-close alert-{{ category }} alert-dismissible fade show">
                                    <i class="fa {{ 'fa-check-circle' if category == 'success' else 'fa-exclamation-circle' }} fa-lg"></i>
                                    {{ message | safe }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" disabled="disabled" />
                {{ form.uuid }}       

                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.borrower_code.label }}
                            {% if form.borrower_code.errors %}
                                <span id="borrower_code_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.borrower_code.errors) }}
                                        <script>$( "#{{ form.borrower_code.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.borrower_code(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.borrower_name.label }}
                            {% if form.borrower_name.errors %}
                                <span id="borrower_name_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.borrower_name.errors) }}
                                        <script>$( "#{{ form.borrower_name.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.borrower_name(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.type_loan.label }}
                            {% if form.type_loan.errors %}
                                <span id="type_loan_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.type_loan.errors) }}
                                        <script>$( "#{{ form.type_loan.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.type_loan(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.date_start.label }}
                            {% if form.date_start.errors %}
                                <span id="date_start_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.date_start.errors) }}
                                        <script>$( "#{{ form.date_start.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.date_start(class_="form-control form-control-sm") }}
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    
                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.terms.label }}
                            {% if form.terms.errors %}
                                <span id="terms_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.terms.errors) }}
                                        <script>$( "#{{ form.terms.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.terms(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.type_schedule.label }}
                            {% if form.type_schedule.errors %}
                                <span id="type_schedule_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.type_schedule.errors) }}
                                        <script>$( "#{{ form.type_schedule.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.type_schedule(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.amount.label }}
                            {% if form.amount.errors %}
                                <span id="amount_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.amount.errors) }}
                                        <script>$( "#{{ form.amount.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.amount(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="form-group">
                            {{ form.interest_rate.label }}
                            {% if form.interest_rate.errors %}
                                <span id="interest_rate_error" class="text text-danger animated fadeIn">
                                        {{ ','.join(form.interest_rate.errors) }}
                                        <script>$( "#{{ form.interest_rate.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                                </span>
                            {% endif %}  
                            {{ form.interest_rate(class_="form-control form-control-sm") }}
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    {{ form.remarks.label }}
                    {% if form.remarks.errors %}
                        <span id="remarks_error" class="text text-danger animated fadeIn">
                                {{ ','.join(form.remarks.errors) }}
                                <script>$( "#{{ form.remarks.id }}" ).addClass( "animated fadeIn is-invalid" );</script>      
                        </span>
                    {% endif %}  
                    {{ form.remarks(class_="form-control form-control-sm") }}
                </div>

                <div class="form-group">
                    <strong>Loan Detail:</strong>
                </div>

                <table id="not-bootstrap-data-table-loan-detail" class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th style="width: 3%"></th>
                            <th style="width: 5%">Term</th>
                            <th style="width: 10%">Type</th>
                            <th >Principal</th>
                            <th>Interest</th>
                            <th>Premium</th>
                            <th>Due Date</th>
                            <th>Payment</th>
                            <th>Posted</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td class="text-center">
                                    {% if not form.is_approved.data%}
                                        <a href="javascript:;" onclick="javascript:UpdateTransactionLoanDetail('{{ item.uuid }}');"><i class="fa fa-pencil-square "></i>
                                        </a>
                                    {% else %}

                                        <a id="loan-detail-modal-link" href="javascript:;"  value="{{ item.uuid }}">
                                            <i class="fa fa-money"></i>
                                        </a>

                                        <button id="call-loan-detail-modal" type="button" class="btn btn-secondary mb-1" data-toggle="modal" data-target="#loan-detail-modal" hidden="hidden">
                                            Medium
                                            </button>

                                    {% endif %}
                                </td>
                                <td class="text-center">{{ item.term }}</td>
                                <td>{{ item.type_line }}</td>

                                <td>{{ item.amount_base }}</td>
                                <td>{{ item.amount_interest }}</td>

                                <td>{{ item.amount_to_pay }}</td>
                                <td>{{ item.date_to_pay }}</td>
                                <td>{{ item.amount_payed }}</td>
                                <td>{{ item.date_payed }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <div class="form-group float-right">
                    {% if not form.is_approved.data%}
                        {{ form.submit_transaction_loan_delete(class_="btn btn-secondary btn-sm") }}
                        {{ form.submit_transaction_loan_update(class_="btn btn-secondary btn-sm") }}
                        {{ form.submit_transaction_loan_approve(class_="btn btn-secondary btn-sm") }}
                    {% else %}
                        {{ form.submit_transaction_loan_penalty_add(class_="btn btn-secondary btn-sm") }}
                        {{ form.submit_transaction_loan_settle(class_="btn btn-secondary btn-sm") }}
                    {% endif %}
                </div>

            </form>
        </div>

    </div>

</div>

<div id="render-thru-sijax-loan-detail-modal"></div>

<script>
    $(document).ready(function() { $('#render-thru-sijax-loan-detail-modal').appendTo(document.body); });
</script>
