<div class="content mt-3">
    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}"
                        disabled="disabled" />

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="pb-2 display-4">Something went wrong! Please Try Again...</h1>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->