<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoopApp</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/selectFX/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/selectFX/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">


    <!-- data table -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>

</head>

<body>

<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/home">CoopApp</a>
            <a class="navbar-brand hidden" href="/home">C</a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a id="home" href="/home"> <i class="menu-icon fa fa-dashboard"></i>Home </a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Maintenance</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-fort-awesome"></i><a id="maintenance_company" href="/maintenance/company">Company</a></li>
                        <li><i class="fa fa-id-card-o"></i><a id="maintenance_user" href="/maintenance/user">User</a></li>
                        <li><i class="fa fa-id-badge"></i><a id="maintenance_member" href="/maintenance/member">Member</a></li>
                        <li><i class="fa fa-book"></i><a id="maintenance_borrower" href="/maintenance/borrower">Borrower</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Transaction</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a id="transaction_contribution" href="/transaction/contribution">Contribution</a></li>
                        <li><i class="fa fa-id-badge"></i><a id="transaction_loan" href="/transaction/loan">Loan</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Enquiry</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-fort-awesome"></i><a href="ui-social-buttons.html">Company</a></li>
                        <li><i class="fa fa-book"></i><a href="ui-cards.html">Borrower</a></li>
                        <li><i class="fa fa-id-card-o"></i><a href="ui-grids.html">User</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Setup</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-fire"></i><a id="setup_sequence" href="/setup/sequence">Sequence</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="/logout"> <i class="menu-icon fa fa-share-square-o"></i>Logout </a>
                </li>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->



<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <header id="header" class="header">
        <div class="header-menu">
        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="card-body">
                <!-- <h4 class="card-title mb-3">CoopApp</h4> -->
                <p class="card-text">Lend hands with friends and the world around you on Hello Cooperative.</p>
            </div>
        </div>
    </header>
    <div id="render-thru-sijax">
        {% block content %}
        {% endblock %}
    </div>
</div><!-- /#right-panel -->
    
    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <!--  Chart js -->
    <script src="{{ url_for('static', filename='vendors/chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/init-scripts/chart-js/chartjs-init.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>


    <!-- data table js -->
    <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/init-scripts/data-table/datatables-init.js') }}"></script>

    

</body>
</html>
